<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>
<style>
  .layout{
      width : 500px;
      margin : 0 auto;
  }
  .layout  input{
      width : 100%;
      box-sizing : border-box
  }
  .layout  textarea{
      width : 100%;
      margin-top : 10px;
      min-height : 300px;
  }
</style>
<body>
      <div class="layout">
        <table>
          <thead>
            <tr>
              <th>글 번호</th>
              <th> 제목입니다</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="board : ${list}">
              <td th:text="${board.id}">1</td>
              <td >
                  <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"> </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</body>
</html>