<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
  <div class="login-container">
    <h1>LOGIN</h1>
    <form id="loginForm" method="POST" action="http://localhost:8090/api/user/login">
      <div class="input-container">
        <input type="text" id="username" placeholder="아이디" required>
        <div class="errorMessage" id="username-error"></div> <!-- 오류 메시지 추가 -->
      </div>
      <div class="input-container">
        <input type="password" id="password" placeholder="비밀번호" required>
        <div class="errorMessage" id="password-error"></div> <!-- 오류 메시지 추가 -->
      </div>
      <button type="submit">로그인</button>
      <a href="/api/user/join">회원가입</a>
    </form>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      document.getElementById('loginForm').addEventListener('submit', function(event) {
        event.preventDefault(); // 폼 제출 기본 동작 방지
  
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
  
        // 오류 메시지 초기화
        document.getElementById('username-error').innerText = '';
        document.getElementById('password-error').innerText = '';
  
        // 로그인 요청
        fetch('http://localhost:8090/api/user/login', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ username: username, password: password })
        })
        .then(response => {
          if (!response.ok) {
            throw new Error('아이디 또는 비밀번호가 틀립니다');
          }
          return response.text(); // 성공 시 응답 텍스트 반환
        })
        .then(data => {
          // 로그인 성공 시 처리 (예: 대시보드로 리다이렉트)
          alert(data); // "로그인 성공" 메시지 표시
          window.location.href = '/main'; // 로그인 후 이동할 페이지
        })
        .catch(error => {
          // 로그인 실패 시 오류 메시지 표시
          document.getElementById("errorMessage").innerText = error.message;
        });
      });
    });
  </script>
  
  

</body>
</html>